{% extends 'base.html' %}
{% load static %}

{% block content %}


	
<section class="inner-header">
   <div class="container">
      <div class="row">
         <div class="col-md-12 sec-title colored text-center">
            <h2>About Us</h2>
            <ul class="breadcumb">
               <li><a href="index.html">Home</a></li>
               <li><i class="fa fa-angle-right"></i></li>
               <li><span>About Us</span></li>
            </ul>
            <span class="decor"><span class="inner"></span></span>
         </div>
      </div>
   </div>
</section>

<section class="sec-pdd-90 about-content full-sec">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 col-md-12">
            <div class="full-sec-content">
               <div class="sec-title style-two">
                  <h2>More about us</h2>
                  <span class="decor">
                     <span class="inner"></span>
                  </span>
               </div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim orci ut aliquet mollis. 
                  Duis varius leo vel justo malesuada, non imperdiet ligula mattis. Sed et malesuada dui. Nam eros libero, elementum eget magna ac, mollis aliquam ex. Integer ut enim porta, sollicitudin nisi a, tincidunt magna. Sed molestie feugiat ligula, et porttitor leo luctus mattis. Aenean maximus pulvinar ipsum eget congue. In nec enim tincidunt, aliquet leo at, interdum libero.
                   Nulla facilisi. Aliquam erat volutpat. Donec sit amet odio vitae nisl imperdiet scelerisque.</p>
            </div>
         </div>
         <div class="col-md-6 hidden-md text-right itm-mgn-top-50">
            <img src="{% static 'img/resources/about-1.jpg' %}" alt="Awesome Image"/>
         </div>
      </div>
   </div>
</section> 



<section class="sec-pdd-90 meet-doctors gray-bg">
   <div class="container">
      <div class="sec-title text-left">
         <h2>Meet Our Doctors</h2>
         <p>Lorem ipsum is a dummy text it will use for subtitle here</p>
         <span class="decor"><span class="inner"></span></span>
      </div>
      <div class="clearfix">
         <div class="team-carousel owl-carousel owl-theme">

         {% for doctor in doctors %} 
            <div class="item">
               <div class="single-team-member">
                  <div class="img-box">
                     <img src="{{doctor.image.url}}" alt=""> 
                     <div class="overlay">
                        <div class="box">
                           <div class="content">
                              <ul>
                                 <li><a href="#"><i class="fa fa-plus"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <h3>{{doctor.name }}</h3>
                  <span>{{doctor.speciallist }}</span>

                  <a href="{% url 'homeapp:doctor_details_page' doctor.pk %}" class="thm-btn">View Profile</a>
               </div>
            </div>
            {% endfor %}


         </div>
      </div>
   </div>
</section>



<section class="sec-pdd-90-80 testimonials-wrapper">
   <div class="container">
      <div class="sec-title colored text-center">
         <h2>Testimonials</h2>
         <span class="decor">
            <span class="inner"></span>
         </span>
      </div>
      <div class="testimonaials-carousel owl-carousel owl-theme">
 
         {% for review in reviews %}
         <div class="item">
            <div class="single-testimonaials"> 
               <div class="qoute-box">
                  <i class="qoute">“</i>
               </div>
               <p>{{review.text|truncatechars:50}}</p>
               <h3>{{review.name}}</h3>
               <span>{{review.title}}</span>
            </div>
         </div>
         {% endfor %}


      </div>
   </div>
</section>

 {% endblock %}