{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>Our Doctors</h2>
                <ul class="breadcumb">
                    <li><a href="index.html">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li><span>Our Doctors</span></li>
                </ul>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>


<section class="sec-pdd-top-90 meet-doctors team-page">
    <div class="container">
        <div class="row">

            {% for doctor in doctors %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <div class="img-box">
                        <img src="{{doctor.image.url}}" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>{{doctor.name}}</h3>
                    <span>{{doctor.speciallist}}</span> 
                    <a href="{% url 'homeapp:doctor_details_page' doctor.pk %}" class="thm-btn">View Profile</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>



{% endblock %}