{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>Blog Page</h2>
                <ul class="breadcumb">
                    <li><a href="index.html">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li><span>Blog Page</span></li>
                </ul>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>


<section class="blog-home sec-pdd-90 blog-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pull-left">


                {% for blog in blogs %}
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="{{blog.image.url}}" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="{% url 'blogapp:blog_details' blog.pk %}"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                     
                        <div class="content">
                            <a href="{% url 'blogapp:blog_details' blog.pk %}"><h3>{{blog.title}}</h3></a>
                            <p>{{blog.content|truncatechars_html:100|safe}}</p>
                      
                        </div>
                    </div>
                </div>
                {% endfor %}

                
                <ul class="page-navigation">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 pull-right">
                <div class="side-bar-widget itm-mgn-top-50">
                    <div class="single-sidebar-widget search">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <div class="single-sidebar-widget popular-post">
                        <h3 class="title">Popular Posts</h3>
                        <ul>

                            {% for blog in latest_blogs %}
                            <li>
                                <div class="img-box">
                                    <div class="inner-box">
                                        <img src="{{blog.image.url}}" alt="">
                                    </div>
                                </div>
                                <div class="content-box">
                                    <a href="{% url 'blogapp:blog_details' blog.pk %}"><h4>{{blog.title}}</h4></a>
                                    <span>{{blog.post_date}}</span>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
