{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sec-title colored text-center">
                <h2>Appointment</h2>
                <ul class="breadcumb">
                    <li><a href="index.html">Home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li><span>Appointment</span></li>
                </ul>
                <span class="decor"><span class="inner"></span></span>
            </div>
        </div>
    </div>
</section>


<section class="sec-pdd-90 contact-content appointment-content">
    <div class="container">
        <img src="{% static 'img/resources/appointment.jpg' %}" alt="Awesome Image"/>
        <div class="title-box">
            <span>It’s easy and fast</span>
            <h3>Make an Appoinment</h3>
            <p>Lorem ipsum dolor sit amet, eum illum dolore concludaturque ex, ius latine adipisci no. Pro at nullam laboramus definitiones. Mandamus conceptam omittantur cu cum. Brute appetere it scriptorem ei eam, ne vim velit novum nominati. Causae volutpat percipitur at sed ne.</p>				
        </div>
        <form action="#" method="POST" class="contact-form row">
            {% csrf_token %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <input required type="text" name="name" placeholder="Full Name">
                        <input required type="text" placeholder="Select Appointment Date" name="date" class="date-picker">
                        <input required type="text" name="phone" placeholder="Phone">
                        <textarea required name="message" placeholder="Message" cols="30" rows="10"></textarea>
                    </div>
                </div> 
            </div>
            <div class="col-md-12"><button type="submit">Book Now</button></div>
        </form>
    </div>
</section>





{% endblock %}
